<!DOCTYPE html>
<html>
<head>
	<title></title>
	<script src="../bower_components/angular/angular.min.js"></script>
	<script src="../src/currency.js"></script>
	<script src="demo.js"></script>
</head>
<body ng-app="demo" ng-controller="DemoCtrl">
<div>
	<div>
		Filter: {{model.money | nnCurrency}}
	</div>
	<div>
		Input: <input type="text" ng-model="model.money" nn-currency/>
	</div>
</div>
<pre>
	{{model}}
</pre>
</body>
</html>